nav
	ul
		li: a(href="what-we-do.html") What We Do
		li: a(href="corporate-events.html") Corporate Events
		li: a(href="private-events.html") Private Events
		//-li: a(href="http://roybraeger.tumblr.com/", target="_blank") Blog
		li: a(href="contact.html") Contact